:root{
    --color-primario: #c0c0c0;
    --color-secundario: #fff954;
    --color-claro: #fefefe;
    --color-oscuro: #28283c;
    --color-input: #b7babd;

    --fuente-secundaria: 'Source Sans Pro', sans-serif;
    --fuente-primaria: 'Montserrat', sans-serif;
}