:root{
    --color-primario: #f6e58d;
    --color-secundario: #95afc0;
    --color-claro: #e8e8e8;
    --color-oscuro:#4a4a4a; 
    --color-input: #dff9fb;

    --fuente-secundaria: 'Source Sans Pro', sans-serif;
    --fuente-primaria: 'Montserrat', sans-serif;
}